@import "tailwindcss";

@font-face {
  font-family: 'AmpersandOverride';
  src: local('Helvetica Neue'), local('Helvetica'), local('Arial');
  unicode-range: U+0026;
}

:root {
  --background: #F9F4EF;
  --foreground: #0A0A0A;
  --primary: #F41C06;
  --black: #0A0A0A;
  --white: #F9F4EF;
  --gray-light: #C9C9C9;
  --gray-dark: #848484;
  --accent: #FFB000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);
  --color-accent: var(--accent);

  --font-sans: var(--font-neue-haas-unica), sans-serif;
  --font-header: 'AmpersandOverride', var(--font-elza), sans-serif;
}

h1,
h2 {
  @apply font-header tracking-tight;
}

h3,
h4,
h5,
h6 {
  @apply font-sans font-medium tracking-tight;
}

* {
  cursor: none !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans font-light;
}